#wrapper {
    width: 1300px;
    margin: auto;
}

#codeWrapper {
    width: 68%;
    float: left;
}

#inputWrapper {
    width: 28%;
    float: right;
}

.editor { 
    height: 300px;
}

.test {
    width: 100%;
    height: 100px;
}

.url_title {
    margin-bottom: 3px;
}

.output {
    height: 100px;
    margin: 5px;
}

.scrollPastEnd {
    height: 800px;
}